<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Your blog posts</h1>
    
    <% @posts.each do |post| %>
    <h2> <a href="/posts/<%= post.id %>"> <%=  post.name %></a></h2>
    <%=  post.content %>
    <% end %>
    <h3><a href="/posts/new">Write a new post</a></h3>
</body>
</html>