<form method="POST" action="/posts">
  <p><label>Name: </label><input name="name" type="text"/></p>
  <p><label>Content: </label><input name="content" type="text"/><p>

  <input id="submit" type="submit"/>
</form>
